
@tailwind base;
@tailwind components;
@tailwind utilities;

.lexend-style {
    font-family: "Lexend";
    font-weight: auto;
}


* {
    margin: 0px;
    padding: 0px;
}


.nav_ti{
    font-size: 20px;
    font-weight: 600px;
    border-radius: 8px;
    background: #B4F461;
    padding: 12px 32px;
    
    }
    
    .nav_titel{
        width: 110px;
        height: 49px;
        display: flex;
        flex-direction: column;
        align-items: cente
    
    }
    
    .header-1{
        background-color:rgb(249, 247, 243) ;
        width: ;
        height: ;
        margin-top: 0px;
        padding-top: 0px;
        position: sticky;
        top: 0;
        overflow: hidden;
    }

/* button */

.btn-donat{
    font-size: 20px;
    font-weight: 600px;
    width: 157px;
    height: 57px;
background-color: rgb(180, 244, 97);
border-radius: 8px;
align-items: center;
padding: 16px 32px 16px 32px;
text-align: center;



}

.anc-his{
    font-size: 20px;
    font-weight: 600px;
    width: 157px;
    height: 57px;
background-color: rgba(139, 107, 107, 0.3);
border-radius: 8px;
align-items: center;
padding: 16px 32px 16px 32px;


}

#id-of-btn{
    position: sticky;
    top: 0;
    overflow: hidden;


}



/* main */

.main-par{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 50px;
}

/* FAQ */

.main-hader-p{
    font-size: 32px;
    font-weight: 700px;
margin-top: 50px;
text-align: center;

}

.main-onli-div{
    width: 1140px;
    height: auto;
padding: 1rem;
border: 2px solid rgba(44, 41, 41, 0.685);
margin-top: 30px;
border-radius: 8px;
}

.main-onli-had{
    font-size: 26px;
    font-weight: 700px;

}

.main-onli-pra{
    font-size: 16px;
    font-weight: 400px;


}


