
/* ----------------------- mobile responcibe worke in 530:600 -------------------------------- */

@tailwind base;
@tailwind components;
@tailwind utilities;

.lexend-style {
    font-family: "Lexend";
    font-weight: auto;
}


* {
    margin: 0px;
    padding: 0px;
}

/* Nav bar */

.nav_ti{
font-size: 20px;
font-weight: 600px;
border-radius: 8px;
background: #B4F461;
padding: 12px 32px;

}

.nav_titel{
    width: 110px;
    height: 49px;
    display: flex;
    flex-direction: column;
    align-items: cente

}

.header-1{
    background-color:rgb(249, 247, 243) ;
    width: ;
    height: ;
    margin-top: 0px;
    padding-top: 0px;
}

/* main part */

.main-con{
display: flex;
flex-direction: column;
align-items: center;

}


/* button */

.btn-donat{
    font-size: 20px;
    font-weight: 600px;
    width: 157px;
    height: 57px;
background-color: rgb(180, 244, 97);
border-radius: 8px;
align-items: center;
padding: 16px 32px 16px 32px;
text-align: center;

}

.anc-his{
    font-size: 20px;
    font-weight: 600px;
    width: 157px;
    height: 57px;
background-color: rgba(139, 107, 107, 0.3);
border-radius: 8px;
align-items: center;
padding: 16px 32px 16px 32px;


}


/* donation card section */

.main-card-sec {
display: flex;
flex-direction: row;
gap: 2rem;
width: 1140px;
height: 453px;
border: 2px solid rgba(17, 17, 17, 0.1);
border-radius: 1rem;
margin: 2rem;
padding: 2rem;
}
.main-img {
width: auto;
height: auto;
}
.main-div-1 {
display: flex;
flex-direction: column;
align-items: flex-start;



}
.main-div-2 {
display: flex;
flex-direction: row;
align-items: center;
gap: 8px;
background-color: rgba(241, 222, 222, 0.76);
padding: 10px 16px 10px 16px;
border-radius: 8px;
}
.main-icon-coin{
width: auto;
height: auto;
}
.main-had-tag {
    font-size: 20px;
    font-weight: 700px;
margin-top: 1rem;


}

.main-class-pra {
    font-size: 14px;
    font-weight: 300px;
    color: rgb(87, 85, 92);
    margin-top: 1rem;
}

.main-input-sec {
    width: 522px;
    height: 56px;
    padding: 20px;
    box-sizing: border-box;
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 8px;
background: rgb(255, 255, 255);
margin-top: 22px;
}

#main-input-btn-1{
    width: 522px;
    height: 57px;
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    background: rgb(180, 244, 97);
    margin-top: 33px;
}
#main-input-btn-2{
    width: 522px;
    height: 57px;
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    background: rgb(180, 244, 97);
    margin-top: 1rem;
}
#main-input-btn-3{
    width: 522px;
    height: 57px;
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    background: rgb(180, 244, 97);
    margin-top: 1rem;
}

@media screen and (max-width: 600px){

*{
    margin: 0px;
    padding: 0px;
}

/* nav bar */
.header-1{
margin: 0px;
padding: 0px;
}

#nav_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


/* Button */





/* ------------------------ main section ----------------------------------- */

.main-card-sec {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 500px;
    height: auto;
    border: 2px solid rgba(17, 17, 17, 0.1);
    border-radius: 1rem;
    margin: 2rem;
    padding: 2rem;
    }
    .main-img {
    width: auto;
    height: auto;
    }
    .main-div-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
    
    }
    .main-div-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    background-color: rgba(241, 222, 222, 0.76);
    padding: 10px 16px 10px 16px;
    border-radius: 8px;
    }
    .main-icon-coin{
    width: auto;
    height: auto;
    }
    .main-had-tag {
        font-size: 20px;
        font-weight: 700px;
    margin-top: 1rem;
    
    
    }
    
    .main-class-pra {
        font-size: 14px;
        font-weight: 300px;
        color: rgb(87, 85, 92);
        margin-top: 1rem;
    }
    
    .main-input-sec {
        width: 430px;
        height: 56px;
        padding: 20px;
        box-sizing: border-box;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin-top: 22px;
    }
    
    #main-input-btn-1{
        width: 430px;
        height: 57px;
        padding: 16px 32px 16px 32px;
        border-radius: 8px;
        background: rgb(180, 244, 97);
        margin-top: 33px;
    }
    #main-input-btn-2{
        width: 430px;
        height: 57px;
        padding: 16px 32px 16px 32px;
        border-radius: 8px;
        background: rgb(180, 244, 97);
        margin-top: 1rem;
    }
    #main-input-btn-3{
        width: 430px;
        height: 57px;
        padding: 16px 32px 16px 32px;
        border-radius: 8px;
        background: rgb(180, 244, 97);
        margin-top: 1rem;
    }



}






